<div class="bb__PlayersList">
  <div
    class="bb__PlayersList--cards"
    v-if="theme === 'cards'"
  >
    <div
      class="card"
      v-for="player in players"
      :key="player.name"
    >
      <figure class="card-img-top" v-bind:style="{borderColor: team.color}">
        <img
          v-bind:src="player.image"
          alt="Blood Bowl Player"
        />
      </figure>
      <div class="card-body">
        <h5 class="card-title">{{player.name}}</h5>
        <h6 class="card-title">{{player.position}}</h6>
        <div class="card-text row">
          <div class="bb__PlayersList__attributes col-sm-6">
            <i class="fas fa-fist-raised"></i> ST {{player.strength}}<br />
            <i class="fas fa-football-ball"></i> AG {{player.agility}}<br />
            <i class="fas fa-shoe-prints"></i> MA {{player.movement}}<br />
            <i class="fas fa-shield-alt"></i> AV {{player.armor}}
          </div>
          <ul class="bb__PlayersList__skills col-sm-6">
            <li v-for="skill in player.skills" :key="skill">
              {{skill}}
            </li>
          </ul>
        </div>
        <div class="bb__PlayersList__actions">
          <button
            class="btn btn-secondary btn-sm"
            title="Put on the market"
          >
            <i class="fas fa-cash-register"></i>
          </button>
          <button
            class="btn btn-danger btn-sm"
            title="Kick out"
          >
            <i class="fas fa-user-slash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bb__PlayersList--table"
    v-if="theme === 'table'"
  >
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Player</th>
          <th><i class="fas fa-fist-raised"></i> ST</th>
          <th><i class="fas fa-football-ball"></i> AG</th>
          <th><i class="fas fa-shoe-prints"></i> MA</th>
          <th><i class="fas fa-shield-alt"></i> AV</th>
          <th>Skills</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="player in players" :key="player.name">
          <td>
            <img
              v-bind:src="player.image"
              alt="Blood Bowl Player"
              v-bind:style="{borderColor: team.color}"
            />
            <h5>{{player.name}}</h5>
            <h6>{{player.position}}</h6>
          </td>
          <td>{{player.strength}}</td>
          <td>{{player.agility}}</td>
          <td>{{player.movement}}</td>
          <td>{{player.armor}}</td>
          <td>{{player.skills.join(', ')}}</td>
          <td>
            <button
              class="btn btn-secondary btn-sm"
              title="Put on the market"
            >
              <i class="fas fa-cash-register"></i>
            </button>
            <button
              class="btn btn-danger btn-sm"
              title="Kick out"
            >
              <i class="fas fa-user-slash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
