<form class="CreatePlayerForm form">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        Name
      </span>
    </div>
    <input class="form-control" v-model="player.name" />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        Position
      </span>
    </div>
    <select class="form-control" vm-model="player.position">
      <option>Lineorc</option>
      <option>Thrower</option>
      <option>Blitzer</option>
      <option>Troll</option>
    </select>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-fist-raised"></i>
          </span>
        </div>
        <input class="form-control" type="number" placeholder="ST" v-model="player.strength" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-football-ball"></i>
          </span>
        </div>
        <input class="form-control" type="number" placeholder="AG" v-model="player.agility" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-shoe-prints"></i>
          </span>
        </div>
        <input class="form-control" type="number" placeholder="MA" v-model="player.movement" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-shield-alt"></i>
          </span>
        </div>
        <input class="form-control" type="number" placeholder="AV" v-model="player.armor" />
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        Waaagh Tribe
      </span>
    </div>
    <select class="form-control" v-model="player.waaaghTribe">
      <option>Axebite</option>
      <option>Black Fang</option>
      <option>Ironback</option>
      <option>Red Sunz</option>
    </select>
  </div>
  <div class="text-right mb-3">
    Gold Crowns:
    <h4 class="d-inline-block">
      ${{playerPrice}}
    </h4>
  </div>
  <div class="text-right">
    <button class="btn btn-default mr-3" type="reset">
      Reset
    </button>
    <button class="btn btn-primary" type="submit">
      <i class="fas fa-save"></i>
      Buy
    </button>
  </div>
</form>
