.bb__PlayersList--cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    width: calc(25% - 30px);
    margin: 15px;
    text-align: center;

    @media (max-width: 992px) {
      width: calc(33% - 30px);
    }

    @media (max-width: 768px) {
      width: calc(50% - 30px);
    }


    .card-img-top {
      border: 5px solid var(--primary);
      border-radius: 50%;
      height: 125px;
      left: 50%;
      margin-top: 20px;
      position: relative;
      transform: translateX(-50%);
      width: 125px;
      overflow: hidden;

      img {
        position: absolute;
        top: -15%;
        left: -15%;
      }
    }

    .card-title:nth-child(1) {
      margin-bottom: 0;
    }

    .card-text {
      font-size: 14px;
      margin-bottom: 1em;
      text-align: left;
    }

    .fas {
      width: 30px;
    }
  }
}
