<div class="bb__PlayersList">
  <Confirm
    modalId="playerDeleteConfirmModal"
    v-bind:onConfirm="onConfirmPlayerDelete"
  >
    <template v-slot:title>
      <h3 class="text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        Warning
      </h3>
    </template>
    Do you really want to delete it?
  </Confirm>
  <SellPlayerModal
    modalId="SellPlayerModal"
    v-bind:player="selectedPlayer"
    v-bind:onConfirm="onPlayerSold"
  >
  </SellPlayerModal>
  <slot></slot>
</div>
