<div class="bb_PlayersView">
  <h1 v-bind:style="{color: team.color}">{{team.name}}</h1>
  <button
    class="btn btn-sm"
    v-bind:class="{'btn-primary': selectedTheme === 'cards'}"
    v-on:click="selectTheme('cards');"
  >
    <i class="fas fa-address-card"></i>
  </button>
  <button
    class="btn btn-sm"
    v-bind:class="{'btn-primary': selectedTheme === 'table'}"
    v-on:click="selectTheme('table');"
  >
    <i class="fas fa-table"></i>
  </button>
  <PlayersList
    v-bind:players="players"
    v-bind:team="team"
    v-bind:theme="selectedTheme"
  ></PlayersList>
</div>